<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>File Upload</title>
  </head>
  <body>
    <script language="javascript" type="text/javascript">
      window.onload = function () {
          var fileUpload = document.getElementById("fileupload");
          fileUpload.onchange = function () {
              if (typeof (FileReader) != "undefined") {
                  var files = document.getElementById("fileupload").files;
                  var file = files[0];
                  if(!file){
                    return alert("No file selected.");
                  }

                  var dvPreview = document.getElementById("dvPreview");
                  dvPreview.innerHTML = "";
                  var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                  for (var i = 0; i < fileUpload.files.length; i++) {
                      var file = fileUpload.files[i];
                      if (regex.test(file.name.toLowerCase())) {
                          var reader = new FileReader();
                          reader.onload = function (e) {
                              var img = document.createElement("IMG");
                              img.height = "100";
                              img.width = "100";
                              img.src = e.target.result;
                              dvPreview.appendChild(img);
                          }
                          reader.readAsDataURL(file);
                      } else {
                          alert(file.name + " is not a valid image file.");
                          dvPreview.innerHTML = "";
                          return false;
                      }
                  }
              } else {
                  alert("This browser does not support HTML5 FileReader.");
              }
          }
      };
    </script>

    <h3>Upload images of monkey</h3>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input id="fileupload" type="file" name="file" accept="image/*" multiple></p>
      <br />
      <div id="dvPreview"></div>
      <br />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>