{% extends 'monkey_recognition/base.html' %}

{% block title %}Monkey recognition{% endblock %}

{% block content %}
    <h1>{{title}}</h1>
    {% for pred in predictions %}
        <div class="row">
            <div class="col-1">
                <img src="static/uploads/{{ pred.img }}" width="100" />
            </div>
            <div class="col my-auto">
                {{pred.prediction}} ({{pred.accuracy}})
            </div>
        </div>
        <br/>
    {% endfor %}
    <br/>
    <a href="/"> <button type="button" class="btn btn-secondary" value="home">Back</button> </a>
{% endblock %}